@import "../../../index.scss";
.suggest{
    width: 100%;
    display: flex;
    justify-content: space-between;
    // width: 300px;
    .content{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 15px;
            color: $font-color-primary;
            margin-bottom: 0.1em;
        }
        p{
            color: $font-color-secondary;
            font-size: 15px;
        }
    }
    button{
        color: $link-color;
        background-color: $background-white;
        border: none;
        font-weight: 700;
        font-size: 13px;
        cursor: pointer;
        transition: 0.2s all;
        &:hover{
            color: $font-color-primary;
        }
    }
}
.primary{
    color: $font-color-primary !important;
}