.timeline{
    flex: 2;
    padding-inline: 50px;
}
@media screen and (max-width: 1400px) {
    .timeline {
      padding-inline: 20px;
    }
  }
@media screen and (max-width:750px) {
    .timeline{
        width: 100%;
    }
}